@import "shared.scss";

* {
  box-sizing: border-box;
}

html {
  background-color: #111;
}

body {
  margin: 0;
  padding: 0;
  line-height: $line_height;
  font-family: 'Larsseit';
  font-size: $font_size;
  font-weight: 300;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover, a:active {
  color: #fff;
}

hr {
  border-color: #333;
  border-style: solid;
  border-bottom-width: 0;
  margin: 1rem 0;
}
