// TODO: Import reset css
@import "shared.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
}

html {
  background-color: $background_color;
}

body {
  margin: 0;
  padding: 0;
  line-height: $line_height;
  font-family: 'Larsseit', sans-serif;
  font-size: $font_size;
  font-weight: 300;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover, a:active {
  color: #fff;
}

hr {
  border-color: $border_color;
  border-style: solid;
  border-bottom-width: 0;
  margin: 1rem 0;
}

p {
  margin: 0;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

h1, h2, h3, h4 {
  margin: 0.25rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  font-weight: 900;

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
}
